/* Apply a basic mobile-first responsive design */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navbar*/
nav {
  background-color: #1d3557;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* style of logo  */
#logo {
  max-width: 100px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%; /* Making the logo a circle */
}

#logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;

  /* Adjusting the gap for smaller screens */
  @media (max-width: 768px) {
    gap: 10px;
  }
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
/* navbar end */
h1 {
  font-size: 24px;
}
#serachBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#url {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  margin-left: 20px;
  border-right: none;
  border-width: 2px;
  border-color: black;
}

#entrBTn {
  background-color: #1d3557;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0px;
  padding: 12px 7px;
}

#entrBTn:hover {
  background-color: #264653;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

td {
  border: 1px solid #ccc;
}
#ImagesTD {
  width: 100%;
}
/* Actions cell */
td:nth-child(5) {
  text-align: center;
}

/* favorite cell */
td:nth-child(3) {
  text-align: center;
}

/* image links  overflow controlling the table cell */
td:nth-child(4) {
  word-break: break-word;
}

/* Style the buttons */
button {
  margin: 10px;
}

td button:nth-child(1) {

  background-color: #caffbf;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  
}

td button:nth-child(2) {

  background-color: #e63946;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  
}


#ImagesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Make the table scroll for small and medium screens */
@media screen and (max-width: 1200px) {
  table {
    overflow: auto;
    max-width: 100%; 
  }

  th, td {
    min-width: 120px; 
  }
}


@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}

